@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
.header{
    background-color:rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: fixed;
    width: 100dvw;
    border-bottom: 2px solid rgb(30, 30, 255);
}
.header img{
    width: 4rem;
}
.header ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

.header ul li{
    font-size: 12px;
    color: #020e3b;
    padding: 10px 20px;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}
.header ul li:hover{
    font-size: 12px;
    color: #020e3b;
    padding: 10px 20px;
    background-color: rgb(202, 202, 255);
    border-radius: 10px;
    color: aliceblue;
    border: none;
}
.header ul button{
    font-size: 12px;
    color: #020e3b;
    padding: 10px 20px;
    background-color: rgb(30, 30, 255);
    border-radius: 10px;
    color: aliceblue;
    cursor: pointer;
    border: none;
    transition: ease-in-out 0.5s;
}
.header ul button:hover{
    transform: scale(1.1);
}

/* .welcome-content */

.welcome-content{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.5s;
}
.welcome-content h1{
    font-size: 1.5rem;
}
.welcome-content h1 span{
    color: rgb(30, 30, 255);
}
.welcome-content p{
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
}
.welcome-content .book-btn{
    margin-top: 2rem;
    font-size: 12px;
    color: #020e3b;
    padding: 10px 30px;
    background-color: rgb(30, 30, 255);
    border-radius: 10px;
    color: aliceblue;
    cursor: pointer;
    border: none;
    transition: ease-in-out 0.5s;
}
.welcome-content .book-btn:hover{
    padding: 10px 50px;

}

form{
    background-color: rgb(202, 202, 255);
    padding: 10px;
    width: 30%;
    border-radius: 20px;
}
form input{
    width: 100%;
    margin-top: 10px;
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
}
form select{
    width: 100%;
    margin-top: 10px;
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
}

form input[type='submit']{
    background-color: rgb(30, 30, 255);
    color: rgb( 243, 243, 243);
}
form h1{
    font-size: 1rem;
}
form p1{
    font-size: 0.7rem;
    margin-top: 1rem;
}
form a{
    color: rgb(30, 30, 255);
    font-size: 0.8rem;
}
.footer{
    margin: 0 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    font-size: 0.4rem;
    padding: 10px;
    text-align: center;
}

a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}