@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
}
body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.header {
  background-color: rgb(243, 243, 243);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: fixed;
  width: 100dvw;
  border-bottom: 2px solid rgb(30, 30, 255);
}
.header img {
  width: 4rem;
}
.header ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.header ul li {
  font-size: 12px;
  color: #020e3b;
  padding: 10px 20px;
  border-radius: 10px;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}
.header ul li:hover {
  font-size: 12px;
  color: #020e3b;
  padding: 10px 20px;
  background-color: rgb(202, 202, 255);
  border-radius: 10px;
  color: aliceblue;
  border: none;
}
.header ul button {
  font-size: 12px;
  color: #020e3b;
  padding: 10px 20px;
  background-color: rgb(30, 30, 255);
  border-radius: 10px;
  color: aliceblue;
  cursor: pointer;
  border: none;
  transition: ease-in-out 0.5s;
}
.header ul button:hover {
  transform: scale(1.1);
}

/* .welcome-content */

.welcome-content {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.5s;
}
.welcome-content h1 {
  font-size: 1.5rem;
}
.welcome-content h1 span {
  color: rgb(30, 30, 255);
}
.welcome-content p {
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
}
.welcome-content .book-btn {
  margin-top: 2rem;
  font-size: 12px;
  color: #020e3b;
  padding: 10px 30px;
  background-color: rgb(30, 30, 255);
  border-radius: 10px;
  color: aliceblue;
  cursor: pointer;
  border: none;
  transition: ease-in-out 0.5s;
}
.welcome-content .book-btn:hover {
  padding: 10px 50px;
}

.about {
  width: 100dvw;
  /* height: 100dvh; */
  padding: 0 100px 100px 100px;
}
.about .container {
  padding: 100px;
  background-color: rgb(243, 243, 243);
  width: 100%;
  border-radius: 30px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.about .container .grid h1 {
  color: rgb(30, 30, 255);
  font-size: 1.1rem;
}
.about .container .grid p {
  font-size: 12px;
  margin-top: 10px;
}
.about .container .grid p span {
  color: rgb(30, 30, 255);
  font-size: 13px;
  font-weight: 500;
}
.about .container .grid span {
  display: flex;
  gap: 10px;
}
.about .container .grid span button {
  margin-top: 2rem;
  font-size: 12px;
  color: rgb(30, 30, 255);
  font-weight: 500;
  padding: 10px 30px;
  /* background-color: rgb(30, 30, 255); */
  border: 1px solid rgb(30, 30, 255);
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.about .container .grid span button:hover {
  background-color: rgb(30, 30, 255);
  color: rgb(243, 243, 243);
}
.about .container .grid img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 50px rgba(30, 30, 255, 0.199);
}

.book {
  width: 100dvw;
  padding: 0 100px;
  padding-bottom: 100px;
}
.book .head {
  /* background-color: blueviolet; */
}
.book .head ul {
  display: flex;
  list-style: none;
  gap: 10px;
  border-bottom: 1px solid rgb(30, 30, 255);
  margin-top: 10px;
}

.book .head ul li {
  padding: 5px 20px;
  font-size: 10px;
  border-radius: 10px 10px 0 0;
}
.book .head ul li.active {
  background-color: rgb(30, 30, 255);
  color: rgb(243, 243, 243);
}

.book .head ol {
  display: flex;
  list-style: none;
  gap: 10px;
  border: 1px solid rgb(30, 30, 255);
  border-radius: 10px;
  margin-top: 10px;
}

.book .head ol li {
  padding: 5px 20px;
  font-size: 10px;
  border-radius: 6px;
  height: 100%;
}
.book .head ol li.active {
  background-color: rgb(30, 30, 255);
  color: rgb(243, 243, 243);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding-top: 10px;
}

.grid-item {
  background-color: #ddd;
  text-align: center;
  border-radius: 20px;
  margin-top: 10px;
}
.grid-container .grid-item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.grid-container .grid-item .text1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 5px 10px;
}
.grid-container .grid-item .text1 h1 {
  font-size: 0.8rem;
}
.grid-container .grid-item .text1 p {
  font-size: 0.8rem;
  color: rgb(30, 30, 255);
  font-weight: 500;
}
.grid-container .grid-item .text2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 10px;
}
.grid-container .grid-item .text2 button {
  background-color: transparent;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid rgb(30, 30, 255);
  font-size: 0.5rem;
  border-radius: 10px;
  transition: ease-in-out 0.5s;
}

.grid-container .grid-item .text2 button:hover {
  background-color: rgb(30, 30, 255);
  color: rgb(243, 243, 243);
}

.contact {
  width: 100dvw;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .left {
  width: 40%;
}
.contact .left img {
  width: 100%;
  border-radius: 10px;
}
.contact .right {
  width: 60%;
  padding: 0 0 0 20px;
}
.contact .right h1 {
  color: rgb(30, 30, 255);
  font-size: 1.1rem;
}
.contact .right h2 {
  color: rgb(30, 30, 255);
  font-size: 1rem;
  margin-top: 10px;
}
.contact .right p {
  font-size: 0.7rem;
}

.footer {
  margin: 0 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  font-size: 0.4rem;
  padding: 10px;
  text-align: center;
}

a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
